.root {
  font-size: 16px;
  padding: 3px 18px;
  border-radius: 10px;
  background-color: #ee5253;
  font-weight: 600;
  border: none;
  color: white;
  transition: 0.2s;
}

.root:hover {
  background-color: #360404;
}