.root {
  margin: 30px 15px;
  padding: 0;
}

.text {
  color: white;
  font-size: 30px;
}

@media (min-width: 1000px) {
  .root {
    width: 50%;
    max-width: 600px;
    margin: 0 auto;
    position: relative;
    left: 20%;
  }
}